@model QuanLyBepAn.Models.NguyenLieu

@{
    ViewData["Title"] = "Chỉnh Sửa";
}

<h1>Chỉnh Sửa</h1>

<h4>Nguyên Liệu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="MaNguyenLieu" />
            <div class="form-group">
                <label asp-for="TenNguyenLieu" class="form-label"></label>
                <input asp-for="TenNguyenLieu" class="form-control" required />
                <span asp-validation-for="TenNguyenLieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiaTriDinhDuong" class="form-label"></label>
                <input asp-for="GiaTriDinhDuong" class="form-control" required />
                <span asp-validation-for="GiaTriDinhDuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Calo" class="form-label"></label>
                <input asp-for="Calo" class="form-control" />
                <span asp-validation-for="Calo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dam" class="form-label"></label>
                <input asp-for="Dam" class="form-control" />
                <span asp-validation-for="Dam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cali" class="form-label"></label>
                <input asp-for="Cali" class="form-control" />
                <span asp-validation-for="Cali" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Lưu Lại" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary btn-sm">QUAY LẠI DANH SÁCH</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

